    <!-- footer -->
    <div class="row"  style="background-color:#c1bfc0" align="center">
      <div class="col-md-12" align="center"><h3>We are Providing Over best for the students</h3></div>
      <br>
      <hr>
      <div class="col-md-4">
        <h2 style="font-family:Arial Rounded MT Bold:" align="center">Contact Us</h2>
        <h5 style="font-family: arial">Email:- sanskareducationa@gmail.com</h5>
        <h5 style="font-family: arial">Facebook:- Sanskar Education Academy</h5>
        <h5 style="font-family: arial">Whatsapp- 7697042965</h5>
      </div>
      <div class="col-md-4" >
        <h2 style="font-family:Arial Rounded MT Bold:" align="center"> Address</h2>
        <h5 style="font-family: arial">Address:- Sanskar Education Academy,Khujner,Dist-Rajgarh(Bioara)(M.P)</h5>
      </div>
      <div class="col-md-4">
        <h5 style="font-family:Arial Rounded MT Bold:" align="center">About</h5>
        <h5 style="font-family: arial">Address:- Sanskar Education Academy,Khujner,Dist-Rajgarh(Bioara)(M.P)</h5>
      </div>
      <div class="col-md-12" align="center">Copyright © 2020. All Rights Reserved</div>
    </div>
  </div>
  <!-- end footer -->