{% extends 'DashbordBase.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block Title %}
    Nt Update
{% endblock Title %}
{% block Breadcrum %}
    <li class="breadcrumb-item"><a href="{% url 'Dashbord:NtsListView' %}">Nt List</a></li>
    <li class="breadcrumb-item"><a href="#">Nt Update</a></li>
{% endblock Breadcrum %}
{% block MainContentBody %}
    <!-- main contect  -->
    <div class="col-lg-9">
        <div class="mt-3">
            <div class="row">
                <div class="col-md-9 offset-1">
                    <div class="p-2">
                        <h3>Update Nt</h3>
                        <br>
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main content -->
{% endblock MainContentBody %}